.output{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
}
.iframe{
    border: 0;
    position: absolute;
}
.imagenDiff{
    position: absolute;
}
.imagenDiff img {
    width: var(--width);
    height: var(--height);
}
