:root {
  --height: 350px;
  --width: 480px;
  --navbarHeight: 30px;
  --containerFlexHeightDesktop: 500px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #282a36;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
}
.contenedorFlex {
  display: flex;
  flex-wrap: wrap;
}

/* resoluciones menores a 640 píxeles de ancho (móviles) */
@media screen and (max-width: 640px) {
  .editor {
    width: 100%;
  }
  .output {
    width: 100%;
  }
  .target{
    width: 100%;
  }
}
/* resoluciones entre 640 píxeles y 1280 píxeles de ancho (tablets) */
@media screen and (min-width: 640px) and (max-width: 1280px) {

}
/* resoluciones mayores a 1280 píxeles (desktop) */
@media screen and (min-width: 1280px) {
  .editor {
    width: 33.33%;
    height: var(--containerFlexHeightDesktop);
  }
  .cm-theme{
    transform: translate(0px,50px);
    width: 30%;
    height: 400px;
  }
  .output {
    width: 33.33%;
    height: var(--containerFlexHeightDesktop);
  }
  .iframe{
    transform: translate(0px,50px); 
    height: var(--height);
    width: var(--width);
  }
  .imagenDiff img {
    transform: translate(0px,50px); 
  }
  .target{
    width: 33.33%;
    height: var(--containerFlexHeightDesktop);
  }
  .imagenTarget{
    transform: translate(0px,50px); 
    height: var(--height);
    width: var(--width);
  }
}